/* Body styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('1.jpg'); /* Replace 'background.jpg' with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login container styles */
.login-container {
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    width: 100%;
    max-width: 500px; /* Adjust max-width as needed */
    padding: 20px;
}

/* Admin container styles */
.admin-container {
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    width: 100%;
    max-width: 500px; /* Adjust max-width as needed */
    padding: 20px;
}

/* Vendor container styles */
.vendor-container {
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    width: 100%;
    max-width: 500px; /* Adjust max-width as needed */
    padding: 20px;
}

/* User container styles */
.user-container {
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    width: 100%;
    max-width: 500px; /* Adjust max-width as needed */
    padding: 20px;
}

/* Button styles */
.container button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #555;
}

/* Keyframe Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
